.action-card {
    margin: 1.5rem auto;
    border: solid 1px #164029;
    width: 90%;
    background-color: rgba(255, 255, 255, .8);
}

.action-count {
    font-size: 2rem;
}

.suggestion {
    font-size: 1.5rem;
    margin: 0 .5rem;
    padding: 0;
}

.learn-more {
    background-color: transparent;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.learn-more:hover {
    background-color: transparent;
    color: #212529;
    font-weight: bold;
    text-transform: uppercase;
}